::-webkit-scrollbar {
    display: none;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

#result-container {
    background-color: lightcyan;
    border: 2px solid;
    height: 100%;
}

#result-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

#result-table {
    width: 100%;
}

#result-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}


#result-table table,
th,
td {
    border: 1px solid;
    text-align: center;
}


#result-table tr:nth-child(even) {
    background-color: lightgray;
}

#sql-query {
    background-color: lightgray;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    margin: 10px 0;
}


.fa-upload, .fa-download{
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fa-upload{
    position: relative;
    bottom:2px
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  i{
    cursor: pointer;
  }

  #button-bar{
    display:flex;
    justify-content: space-between;
    margin-right: 7%;
    align-items: center;
  }